<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso legal</title>
    <!-- Declaración de fichero de estilos -->
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <section>
        <!-- Div que tiene todo el contenido de la página principal. -->
        <div class="div_seccion_principal">
            <article>
                <header>
                    <h1>Titular del sitio web</h1>
                </header>
                <!-- Contenido del aviso legal -->
                <div id="div_menu"></div>
                <span>
                    Los datos identificativos del responsable del presente sitio web son: <b>Painting House</b>, S.L.L.con CIF B000555111, inscrita en el Registro Mercantil de Córdoba, con 
                    el documento número 1/2013/6.209,0, asiento 2013/4872 de fecha 27/08/2013 en el tomo 1684, libro 0, folio 198, hoja NA-33412, inscripción 1 y domicilio en c/ Diego Mina, 8 5ºC – 31620 Huarte (NA)
                    (Información facilitada en cumplimiento de lo dispuesto en el artículo 10 de la Ley 34/2002 de Servicios de la Sociedad de la Información y de Comercio Electrónico).
                </span>
            </article>
        </div>
    </section>
</body>
</html>